<title>
  Tiny App
</title>

<% if(username){ %>
  <p>username: <%= username.username %></p>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
 <% } else { %>
  <form method="POST" action="/login">
    <input type="text" name="username">
    <input type="submit" value="Login">
  </form>
 <% } %>


