<title>
  Tiny App
</title>

<% if(user){ %>
  <p>username: <%= user.email %></p>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
 <% } else { %>
  <a href="/register">register</a>
  <a href="/login">login</a>
 <% } %>